.navBar{
  background:#0E0B16;
}

.webName{
  color: rgb(5, 233, 24);
}

.navPages{
  color: white;
  margin-left: 4em;
}

.logout{
  color: white;
  background: #4717F6;
  border: 2px solid #4717F6;
  border-radius: 10px;
}

h1{
  color: white;
  align-content: center;
}

h5{
  color: white;
}

/*CSS for NBA component*/
.liveGames{
  color: white;
}

.live-games-header{
  text-align: center;
}

.live-games-score{
  right: 2rem;
}

.league-teams-header{
  text-align: center;
}

/*CSS for Football component*/
.events{
  text-align: center;
  color: white;
}

.teams{
  color: white;
}


/*CSS for setting component */ 
.settings-comp{
  text-align: left;
  color: white;
  margin: 20px;
}