/*App.js*/
.navBar{
  background:#0E0B16;
}

.webName{
  color: rgb(5, 233, 24);
}

.navPages{
  color: white;
  margin-left: 4em;
}

h1{
  color: white;
  align-content: center;
}

h5{
  color: white;
}

p{
  font-size: large;
}

/*Logout button*/
.logout{
  color: white;
  background: #4717F6;
  border: 2px solid #4717F6;
  border-radius: 10px;
}

/*Football component*/
.events{
  text-align: center;
  color: white;
}

.teams{
  color: white;
}

/*settings component */ 
.settings-comp{
  text-align: left;
  color: white;
  margin: 20px;
}

/*welcome component*/
.welcome-comp{
  color: white;
  text-align: center;
}